$myBlack : #0c0d12;
$myOrange : #98ff98 ;
$myWhite : #cccccc;
$myDarkGray : #191b20;
$myGray : #2d3037;
$myLightGray : #3f4349;
$myAnotherLightGray : #525252;

body {
	background: $myDarkGray;
	min-width: 1000px;
    font-family: 'Rajdhani';
    border: 0;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
	width: 100%;	
}

.header {
    margin-top: 30px;
    
    .navbar {
        position: fixed;
        overflow: hidden;
        top: 0px;
        z-index: 1;
        right: 0;
        left: 0;	
        border-radius: 0px 0px 10px 10px;
        background-color: $myBlack;

        a {
            float: right;
            display: block;
            color: $myAnotherLightGray;
            text-align: center;
            padding: 15px;
            text-decoration: none;
            font-size: 20px;

            &:hover:not(.active) {
                color: $myWhite;
                font-weight: bold;
            }
        }

        .active {
            color: $myOrange;
            font-weight: bold;
        }
    }

    .title {
        background-image: url("../images/MrPlagueX4Blur.jpg");
        background-color: $myWhite;
        height: 80vh;
        max-height: 80vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 4px;
        margin-left: 5px;
        margin-right: 5px;
        
        .titleText {
            border-radius: 6px;
            margin: 0;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            background-color: rgba(0,0,0, 0.5);
            font-weight: bold;
            border: 3px solid $myOrange;
            width: 70%;
            padding: 15px;
            font-size: 32px;
            
            .big {
                margin: 0;
                font-size: 80px;
            }
        }
    }
    .pres{ 
        min-width: 1000px; 
        min-height: 540px;   
        margin-top: 140px;       
        position: relative;
        background-color: $myGray;
        display: flex;
        justify-content: center;
        align-items: center;

        .presText {
            flex: 1;
            text-align: center;
            background-color: $myGray;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            color: white;
            min-width: 1000px;
        }

        .presImg {
            display: flex;
            flex: 0 0 40%;
            height: 540px;
            width: 100%;
        }

        @media (max-width : 1770px) {
            .presImg {display:none;}
        }

        .presButton{
            font-family: 'Tangerine', cursive;
            display: block;
            border: 2px solid #fe5fc8;
            background-color: $myDarkGray;
            margin-top: 10px;
            width: 25%;
            border-radius: 10px;
            padding: 20px;
            color: $myWhite;
            text-decoration: none;
            margin: 0 auto;
            margin-top: 35px;
            font-size: 40px;
        }
    }
} 

.content {
    min-width: 1000px;
    background-image: url("../images/Back.jpg");
    background-color: $myWhite;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    border-radius: 60.5px; 

        .main {    
        // top: 140px;
        position: relative;
        min-width: 980px;
        min-height: 340px;
        background-color: $myGray;
        border-radius: 60px;
        display: flex;
        margin-top: 140px;

        .textRight {
            flex: 1;
            text-align: center;
            background-color: $myLightGray;
            border-radius: 0px 60px 60px 0px;
            font-size: 22px;
            color: white;

            .buttonRight {
                display: block;
                border: 2px solid $myOrange;
                background-color: $myDarkGray;
                margin-top: 10px;
                border-radius: 10px;
                width: 50%;
                padding: 20px;
                color: $myOrange;
                text-decoration: none;
                margin: 0 auto;
                margin-top: 35px;

                &:hover {
                    background-color: $myGray;
                }
            }
        }

        .imgRight {
            display: flex;
            flex: 0 0 35%;
            justify-content: center;
            align-items: center;
        }

        .textLeft {
            flex: 1;
            text-align: center;
            background-color: $myLightGray;
            border-radius: 60px 0px 0px 60px;
            font-size: 22px;
            color: white;

        }

            .buttonLeft {
                display: block;
                border: 2px solid $myOrange;
                background-color: $myDarkGray;
                border-radius: 10px;
                width: 50%;
                padding: 20px;
                color: $myOrange;
                text-decoration: none;
                margin: 0 auto;
                margin-top: 35px;

                &:hover {
                    background-color: $myGray;
                }
            }

        .imgLeft {
            display: flex;
            flex: 0 0 35%;
            justify-content: center;
            align-items: center;
        }
    }

}

.footer {
    background-image: url("../images/myFooterini.png");
    height: 650px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .footerText {
        width: 85%;
        height: 100px;
        margin-top: 470px;
        display: flex;
        font-size: 20px;
        .ARR {
            flex: 0 0 25%;
            margin-top: 60px;
            color: $myWhite;
        }
        .TUPP {
            flex: 1;
            margin-left: 500px;
            margin-top: 60px;
            text-align: right;
            color: $myWhite;
            a {
                text-decoration: none;
                color: $myWhite;
                &:hover {
                    color: white;
                    font-weight: bold;
                }
            }
        }

    }

}
